header {
    background-color: black;
    color: white;
    font-size: 28px;
    border-bottom-style: solid;
    border-bottom-color: red;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    z-index: +1;
}

section {
    width: 50%;
    margin-left: 25%;
    background-color: gainsboro;
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    border: 2px, dashed;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

footer {
    background-color: black;
    color: white;
    border-top-color: red;
    border-top-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 40px;
    box-sizing: border-box;
}
article {
    float: left;
    width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    box-sizing: border-box;
}